<IfModule mod_rewrite.c>
	RewriteEngine on

	RewriteCond %{REQUEST_FILENAME} !-d 
	RewriteCond %{REQUEST_FILENAME}\.php -f 
	RewriteRule ^([^/]+)/?$ $1.php [L]

	RewriteCond %{REQUEST_FILENAME} -d [OR]
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule ^ - [L]

	RewriteRule ^([^/]+)/([^/]+)/?$ $1.php?method=$2 [L,QSA]
	RewriteRule ^([^/]+)/([^/]+)/([^/]+)/?$ $1.php?method=$2&var2=$3 [L,QSA]
</IfModule>